#header{
    width: 100%;
    height: 80px;
    background: #000;
    menu{
        height: 100%;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #icon{
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 50px;
                filter: drop-shadow(0 0 2px #fff);
            }
        }
        nav{
            height: inherit;
            width: 80%;
            ul{
                height: inherit;
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                li{
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}